@use "../util/colors.scss" as colors;
@use "../breakpoints.scss" as res;
.error404Page,
.errorPage {
  min-height: 100vh;
  background-color: colors.$nice_black;
  color: colors.$white;
  text-align: center;
  z-index: 10;
  overflow: hidden;

  h3 {
    margin: 0 !important;
    font-size: 36px;
    z-index: 10;
    font-weight: 500;
  }
  p,
  .toHome {
    z-index: 10;
  }
  p {
    font-size: 12px;
    opacity: 0.7;
    line-height: 24px;
  }

  .toHome,
  button {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 14px;
    align-items: center;
    color: colors.$white;
    background: colors.$color-gradient;
  }

  .toHome:hover,
  button:hover {
    text-decoration: none;
  }

  .ball {
    border-radius: 50%;
    z-index: 5;
  }
  .big {
    width: 200px;
    height: 200px;
  }
  .small {
    width: 75px;
    height: 75px;
  }
  .coloredBall {
    background: colors.$color-gradient;
  }
  .blackBall {
    background: colors.$black-gradient;
  }

  .coloredBall.big {
    transform: rotate(180deg);
    left: -100px;
    width: 150px;
    height: 150px;
    bottom: 180px;
  }
  .coloredBall.small {
    width: 400px !important;
    height: 400px !important;
    right: -250px;
    top: -250px;
    transform: rotate(180deg);
  }

  .blackBall.big {
    width: 400px !important;
    height: 400px !important;
    left: -250px;
    bottom: -250px;
    transform: rotate(180deg);
  }
  .blackBall.small {
    right: -100px;
    width: 150px;
    height: 150px;
    top: 210px;
  }
}

@include res.responsive(computer) {
  .error404Page,
  .errorPage {
    .coloredBall.big {
      left: -50px;
      width: 150px;
      height: 150px;
    }
    .coloredBall.small {
      width: 400px !important;
      height: 400px !important;
      right: -150px;
      top: -150px;
      transform: rotate(180deg);
    }

    .blackBall.big {
      width: 400px !important;
      height: 400px !important;
      left: -150px;
      bottom: -150px;
      transform: rotate(180deg);
    }
    .blackBall.small {
      right: -50px;
      width: 150px;
      top: 210px;
      height: 150px;
    }
  }
}
