@use "../util/colors.scss" as colors;
@use "../util/hover.scss" as hover;
@use "../animations/animation.scss" as animation;
@use "../breakpoints.scss" as res;
.welcome {
  overflow: hidden;
  padding-top: 200px;
  background-color: colors.$nice_black;
  color: colors.$white;
  text-align: center;
  z-index: 10;
  h1 {
    z-index: 10;
    font-size: 50px !important;
  }
  .dot {
    color: rgb(255, 193, 194);
  }
  .welcomeParagraph {
    max-width: 300px;
    color: #adadc1;
    z-index: 10;
  }
  .getStartButton,
  .learnMoreButton {
    z-index: 10;

    padding: 8px 16px;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: none;
  }
  .getStartButton {
    background: colors.$color-gradient;
  }
  .learnMoreButton {
    background-color: colors.$grey;
    color: colors.$white;
  }

  .ball {
    border-radius: 50%;
    z-index: 5;
  }
  .big {
    width: 200px;
    height: 200px;
  }
  .small {
    width: 75px;
    height: 75px;
  }
  .coloredBall {
    background: colors.$color-gradient;
  }
  .blackBall {
    background: colors.$black-gradient;
  }

  .coloredBall.big {
    left: -100px;
  }
  .coloredBall.small {
    right: -30px;
    top: 30rem;
  }

  .blackBall.big {
    right: -100px;
  }
  .blackBall.small {
    left: -30px;
    top: 30rem;
  }
}

@include res.responsive(computer) {
  .welcome {
    .coloredBall.big {
      left: 10%;
    }
    .coloredBall.small {
      right: 10%;
      top: 30rem;
    }

    .blackBall.big {
      right: 20%;
    }
    .blackBall.small {
      left: 20%;
      top: 30rem;
    }
  }
}
