//color variables

$white: #fff;
$light_black: #282828;
$black: #181820;
$purple: #707aff;
$milk: #f6f6f6;
$grey: #30303d;
$blue: #2f69fe;
$yellow: #ffc700;
$dark_green: #789d5e;
$light_green: #bde3a7;
$nice_black: #1d1e26;
$color-gradient: linear-gradient(90deg, rgba(255, 193, 194, 1) 0%, rgba(212, 43, 190, 1) 53%);
$black-gradient: linear-gradient(90deg, rgba(47, 47, 62, 1) 0%, rgba(17, 17, 22, 1) 53%);
